.contact-form {
  display: block;
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px #ddd;
  margin: 40px auto;
  max-width: 600px;
  height: auto;
  padding: 30px;
  border-radius: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  color: #cd853f;
}

.contact-form input,
textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.cf-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-form h3 {
  font-size: 32px;
  color: #8b4513;
}

.cf-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cf-button {
  box-shadow: 0 2px 8px rgb(66, 66, 66, 0.6);
  width: auto;
  border-radius: 10px;
}

.cf-button i {
  margin-left: 5px;
}

@media screen and (max-width: 760px) {
  .contact-form {
    max-width: 400px;
  }
}
